.App {
  text-align: center;
  padding: 20px;
}

.profile {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: burlywood;
}

.profile img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
